* {

    margin: 0;
    padding:0;

    font-family: 'Poppins', sans-serif;

}

#banner{
    background: linear-gradient(rgba(0,0,0,0.3), #0ad60a), url(images/ml.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 80px;
    position:absolute;
    top: 4%;
    left: 2%;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1 {
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p {
    font-size: 20px;
    font-size: italic;
}
.banner-btn{
    margin:  70px auto 0;

}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 12px 0;
    color:  #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;

}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100% ;
}
.banner-btn a:hover {
    color: black ;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.3), #4896b1), url(images/vale.png);
    z-index: 2;
    transition: 0.5s;


}
nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color:#fff;

}
#menuBtn{
    width:  50px;
    height: 50px;
    background: #0ad60a;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;


    
}
#menuBtn img{
    width: 25px;
    margin-top: 15px;

}
@media screen and (max-width: 770px){
        .banner-text h1 {
            font-size: 44px;
        
    }
        .banner-btn a{
            display: block;
            margin: 20px auto;
            
        }
    
}

/*--Support US--*/

#featuring{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(rgba(242, 238, 238, 0.469), #fff), url(images/pharsa.png);

}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin-top: 0;
    font-size: 20px;
    color: #0ad60a;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;

}
.title-text p::after{
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#ee7e1c, #fff);
    position:  absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

}


.title-text h1{
    font-size: 50px;
    
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    
}
.features{
    flex-basis: 50%;

}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;

}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    font-weight: bold;
    color: #0ad60a;

}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    border-radius: 15px;
    color: #0ad60a;
    border: 5px solid #0ad60a;
    text-align: center;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
    text-align: justify;
}
@media screen and (max-width: 770px){
   .title-text h1{
        font-size: 35px;
    }
   .features{
        flex-basis: 100%;
        
    }
    .features-img{
        flex-basis: 100%;
        
    }
    .features-img img{
        width: 100%;
    }
}

    /*----Supporter Appreciation---*/

    
#service{
    width: 100%;
    padding: 70px 0;
    background:linear-gradient(rgba(0,0,0,0.3), #0ad60a), url(images/estes2.png);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.6), #0ad60a);
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%);
    transition: 1s;
    
}
.service-desc h5{
    text-align: justify;
    font-size: 80%;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 50px auto;
    width: 60%;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;

}
@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc h5{
        font-size: 12%;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;        
    }

}

/*-----Supporter Shoutout-----*/


#testemonial{
    width: 100%;
    padding: 70px;
    background: linear-gradient(rgba(255, 255, 255, 0.701), #4896b1), url(images/vale2.png);
}
.testemonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testemonial-col{
    margin-bottom: 30px;
    flex-basis: 28%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 25px 5px #0ad60a;
    cursor: pointer;
    transition: transfrom .5s;
    
}
.testemonial-col p{
    font-size: 12px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #0ad60a;

}
.testemonial-col:hover{
    transform: translateY(-10px);

}
@media screen and (max-width: 770px){
    .testemonial-col{
        flex-basis: 100%;
    }
}

/*----Partner & Sponsorship---*/


#sponsorship{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(rgba(0,0,0,0.3), #4896b1), url(images/rafaela.png);
}
.sponsorship-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.single-sponsorship{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    
}
.single-sponsorship img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.6), #4896b1);
    opacity: 0;
    transition: 1s;
}

.single-sponsorship:hover .overlay{
    opacity: 1;
}
.sponsorship-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%);
    transition: 1s;
    
}
.sponsorship-desc h3{
    text-align: center;
    font-size: 80%;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 50px auto;
    width: 60%;
}
.testemonial-row1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testemonial-col1{
    margin-bottom: 30px;
    flex-basis: 28%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 25px 5px #0ad60a;
    cursor: pointer;
    transition: transfrom .5s;
}


.single-sponsorship:hover .sponsorship-desc{
    bottom: 40%;
    opacity: 1;

}
@media screen and (max-width: 770px){
    .single-sponsorship{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .sponsorship-desc h3{
        font-size: 18%;
    }
    hr{
        margin: 5px auto;
    }
    .single-sponsorship:hover .sponsorship-desc{
        bottom: 25% !important;        
    }

}


/*----FOOTER SECTION---*/

#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
    background: linear-gradient(rgba(168, 193, 251, 0.639), #f5f8f5a9), url(images/nana.png);

}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align:right;
}
.footer-row h1{
    margin: 10px 0;

}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa, .footer-right .fa{
    font-size: 25px;
    color: #0ad60a;
    margin: 12px;

}
.footer-img{
    max-width: 100px;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%, -50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    border: 1px solid #0ad60a;
    color: #0a1ad5;
    box-shadow: 0 1px 1px 1px #0ad60a;
    margin: 40px 5px 0;
    cursor: pointer;
    transform: 0.5s;
}
.social-links .fa:hover{
    background: #0ad60a;
    color: #fff;
    transform: translateY(-7px);

}
.social-links p{
    font-size: 14px;
    margin-top: 25px;
}
@media screen and (max-width: 770px){
    .footer-left, .footer-right .fa{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}



